[submodule "interfaces/interface-reverseproxy"]
	path = interfaces/interface-reverseproxy
	url = https://github.com/chris-sanders/interface-reverseproxy.git
[submodule "layers/layer-version"]
	path = layers/layer-version
	url = https://github.com/chris-sanders/layer-version.git
[submodule "interfaces/interface-mysql"]
	path = interfaces/interface-mysql
	url = https://github.com/johnsca/juju-relation-mysql
[submodule "interfaces/interface-redis"]
	path = interfaces/interface-redis
	url = https://github.com/omnivector-solutions/interface-redis.git
[submodule "interfaces/interface-gitlab-ci"]
	path = interfaces/interface-gitlab-ci
	url = https://github.com/pirate-charmers/interface-gitlab-ci.git
[submodule "interfaces/interface-pgsql"]
	path = interfaces/interface-pgsql
	url = https://git.launchpad.net/interface-pgsql
